body {
    background-color: rgb(70, 127, 219);
    overflow: hidden;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;

  }
  button {
    border: none;
    color: rgb(15, 15, 15);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
}
.button-wrapper{    
    display: flex;
    justify-content: center;
}

    .game-wrapper{
        width:100vw; 
        height:100vh;
        background-color: black;
        justify-content: center;
        display: none;
    }